@charset "utf-8";
/* CSS Document */
.login {
	padding: 30px 40px;
}
.left-login {
	float:left;
	width:40%;
	margin:0 80px 0 0
}
.left-login label {
    font-weight: normal;
	font-size:14px;
}
.form-control.input-login {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 37px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.left-login .checkbox label {
	font-size:12px;
}
.left-login .checkbox {
	float:left;
	width:100%
}
.left-login .col-sm-3.control-label{
	padding-left:0;
}
.btn-order.btn-login {
    float: left;
    height: 32px;
    margin: 30px 0 10px;
    width: 100%;
}
.btn-order.btn-login a{
	float:none
}
.fogot-pass-login {
    margin-top: -10px;
}
.btn-otherlogin {
	color:#999;
	font-style:italic;
	font-size:11px
}
.btn-otherlogin > a {
	font-size:14px;
	font-weight:bold;
	width:113px;
	height:26px;
	display:inline-block;
	font-style:normal;
	line-height:24px
}
.btn-otherlogin > a i {
	float:left;
	width:25px;
	height:24px;
	margin-right:8px
}
.login-fb {
	border:#4b64a5 1px solid;
	color:#4b64a5;
	border-radius:2px;
	margin-right:5px
}
.form-modalsignin .btn-otherlogin {
	margin:10px 0
}
.form-modalsignin .btn-otherlogin > a {
    font-size: 13px;
    line-height: 26px;
    width: 105px;
}
.login-fb > i {
	background:url(../images/login-fb.png) no-repeat scroll center center #4b64a5;	
}
.login-gl > i{
	background:url(../images/login-google.png) no-repeat scroll center center #de4a32;
}
.login-gl {
	border:#de4a32 1px solid;
	color:#de4a32;
	border-radius:2px;
	margin-left:5px
}
.btn-otherlogin a:hover {
	background:#f9f9f9;
	text-decoration:none;
	color:#555
}
.new-register {
	float:left;
	width:100%;
	margin-top:47px
}
.new-register > p {
	color:#767676;
	font-style:italic
}
.new-register > p > span {
	color:#555;
	font-size:14px;
	font-weight:bold;
	font-style:normal
}
.new-register > a {
	margin-top:5px;
	color:#fff;
	font-size:14px;
	border-radius:3px
}
.new-register > a:hover { 
	text-decoration:none;
	background:#2386c0
}
.form-control.input-login.input-wrong{
	border:#d11e31 1px solid
}
.row-wrong {
	float:left;
	width:100%;
	margin:5px 0 10px 0;
	color:#d11e31;
	font-size:11px
}
.guid-reset-password {
	float:left;
	width:100%;
	margin-top:20px
}
.guid-reset-password li {
	display:block;
	margin-bottom:10px;
	font-weight:bold;
	color:#727272
}
.guid-reset-password li a {
	font-weight:normal
}
.left-login.register {
	width:60%;
}
.left-login.col2-regis {
	width:30%;
	margin:0
}
.register .form-group {
	float:left;
	width:100%;
	margin-bottom:15px
}
.register > .form-group > label {
	line-height:37px
}
.register > .checkbox > label {
	margin-top:10px
}
.form-control.input-login.input-login-sm{
	width:200px
}
.login2 {
	border:#ddd 1px solid;
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
    color: #0654ba;
 	background-color: #fefefe;
    background-image: linear-gradient(to top, #fafafa, #fefefe);
	background:-webkit-gradient(linear,left bottom,left top,color-stop(0,#fafafa),color-stop(1,#fefefe))
}
.btn-order a.login2 {
    color: #0654ba;
}
.btn-order a.login2:hover {
	border:#aaa 1px solid;
	box-shadow:none;
	background:#fafafa
}
.col2-regis {
	border-left:#ddd 1px solid;
	padding-left:40px;
	height:350px;
	margin-right:0
}
